@font-face {
    font-family: 'primecode';
    src: url("./font/Courier Prime Code.ttf");
}

body {

        /*background-color: rgb(255, 255, 255);*/
        background-color: #15131a;
        color: white;

        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        /*font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;*/
        font-family: serif;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: #dd4a4a;
}

a:hover {
    color: #ffd8d8;
}

a:active {
    color:#dd4a4a;
}

h3 {
    margin-bottom: 0;
    font-size: 2.5vh;
}

h4 {
    margin-top: 0;
    font-size: 1.5vh;
    font-weight: lighter;
    color: darkgray;
}

hr {
    color: rgb(255, 255, 255);
    size: 1px;
}


.splash {
    background-color: white;
}

.menu-preview {
    position: fixed;
    top: 30%;
    right: 48%;
    height: 40%;
}

.centered-menu {
    position: fixed;
    color: black;
    text-align: left;
    font-size: 2vh;

    top: 30%;
    left: 48%;
    height: 40%
}
.fixed-header, .fixed-footer{
    position: fixed;
    padding: 10px 0;

    color: black;
    
}

.fixed-header{
    top: 0vh;
    left: 0vw;
    right: 1vw;
    height: 3vw;

    padding-left: 16vw;

    background-color: white;
    border: 1px solid lightpink;

    text-align: center;
}

.fixed-footer{
    text-align: center;
    font-size: 1em;
    background: #0e0c11;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1.25em;
    color: white;
}

.sidebar-frame {

    position:fixed;
    top: 0vw;
    left: 0vw;
    width: 15vw;
    height: 97%;

    border: none;
    overflow: hidden;
}

.sidebar-logo-mobile, .sidebar-logo-desktop {
    position: absolute;

    top: 0.5vh;
    left: 0.5vh;
    right: 0.5vh;

}

.sidebar-logo-mobile {
    display: none;
    height: 99vh;
}
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px){ .sidebar-logo-mobile { display: inline;}}

.sidebar-logo-desktop {
    display: inline;
    height: 33vh;
}
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px){  .sidebar-logo-desktop { display: none;}}

.sidebar-nav-mobile, .sidebar-nav-desktop {
    position: absolute;

    left: 0.5vh;
    right: 0.5vh;
    font-size: 1.5vh;
    padding-left: 2vw;
    padding-right: 2vw;
}

.sidebar-nav-desktop {
    display: inline;
    
    text-align: right;
    top: 38vw;
}
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px){  .sidebar-nav-desktop { display: none;}}

.sidebar-nav-mobile {
    display: none;
    text-align: center;
    top: 101vw;
    bottom: 0vh;
}
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px){ .sidebar-nav-mobile { display: inline;}}

.content {
    padding-left: 15.5vw;
    padding-right: 1vw;

    font-size: 1.8vh;
}

.pdf-reader {
    width: 100%;
    height: 80%;
}

.logo {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}
