
body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: red
}

a:hover {
    color: darkred
}

a:active {

}

hr {
    color: lightpink;
    size: 1px;
}

.splash {
    background-color: whitesmoke;
}

.centered-menu {
    color: black;
    text-align: center;
    font-size: 1vw;
    

    position: fixed;
    top: 25%;
    left: 25%;
    height: 50%;
    width: 50%;
}
.fixed-header, .fixed-footer{
    width: 100%;
    position: fixed;
    left: 0px;
    background: lightgray;
    padding: 10px 0;

    color: black;
    text-align: center;
    font-size: 0.5vw;
}

.fixed-header{
    border: 5px inset blue;
    top: 0px;
    height: 60px;
    
    padding-left: 1%;
}

.fixed-footer{
    height:1vh;
    bottom: 0;
}

.sidebar-frame {
    position:fixed;
    top: 0.5vw;
    left: 0.5vw;
    width: 15vw;
    height: 100vh;

    border: none;
    overflow: hidden;
}

.sidebar {
    width: 100%;
}

.sidebar-widget {
    text-align: left;
    font-size: 5vw;

    padding-left: 2vw;
    margin-top: 3%;
    border: 5px inset red;
    background-color: lightblue;
    text-align: left;
}

.content {
    position:fixed;

    left: 15.1vw;
    right: 0;
    top: 0;
    bottom: 1vh;

    padding-left: 1vw;
    padding-right: 1vw;

    font-size: 1vw;
}
